<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3 cardIssue">
                <img src="<%= issue.images[0]%>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= issue.title%>
                    </h5>
                    <p class="card-text">
                        <%= issue.description%>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted cardItems"> Priority -
                        <%= issue.priority%>
                    </li>
                    <li class="list-group-item text-muted cardItems"> Status -
                        <%= issue.status%>
                    </li>
                    <li class="list-group-item text-muted cardItems"> Submitted By :
                        <%= issue.submitted_by%>
                    </li>
                    <li class="list-group-item cardItems"> Assigned To -
                        <%= issue.assigned_to%>
                    </li>
                    <li class="list-group-item cardItems"></li>
                </ul>
                <div class="card-body">
                    <a class="card-link btn btn-info btn-readMore btn-sm" href="/issues/<%=issue._id%>/edit">Edit
                        Issue</a>
                    <form class="d-inline" action="/issues/<%=issue._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-readMore">Delete Issue</button>
                    </form>
                </div>
                <!-- <div class="card-footer text-muted">
                    2 days ago
                </div> -->
            </div>
        </div>
    </div>
    <a href="/issues">All Issues</a>